@charset "utf-8";

*{
    padding: 10px;
    margin: 10px;
}
html{
    font-family: 'Courier New', Courier, monospace;
}
header{
    background-color: rgb(255, 255, 255);
    
    padding-left: 0;
    
}
header > h1{
    text-align: center;
}
menu li{
    display: inline-block;
    margin: auto;
    background-color: rgb(149, 214, 214);
    padding: 10px;
    margin-bottom: 0;
    
}
menu ul{
    background-color: bisque;
    list-style: none;
    margin-bottom: 0;
    width: 100vw;
}
article{
    display: block;
    text-align: center;
    margin: auto;
    width: 100vw;
}
