@charset "utf8";
body{
    background-color: rgb(167, 226, 207);
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(37, 73, 61);
}
#titulo{
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    color: rgb(37, 40, 43);
    text-align: center;
    background-color: rgb(42, 82, 68);
}
.basico{
    color: blanchedalmond;

}
.intermediario{
    color: rgb(238, 155, 107);
}
.avancado{
    color: rgba(230, 72, 72, 0.705);

}